
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
  /* color: #fff; */
}

html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}

.parent{
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 10px;
  
}



.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}
.nav{
  background-color: rebeccapurple;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgbox{
  background-color: aliceblue;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  
}

