*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: darkgrey;
}
.card{
  background: pink;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  
}
.nav{
  background: rgb(88, 100, 236);
  padding: 10px;
  color: bisque;
  
  
}